In [15]:
import dis

In [16]:
def calc(code):
  data = code.split()
  stack = []
  for x in data:
    print(stack, x, end=" => ")
    if x == '+':
      b = stack.pop()
      a = stack.pop()
      stack.append(a+b)
    elif x == '-':
      b = stack.pop()
      a = stack.pop()
      stack.append(a-b)
    elif x == "*":
      b = stack.pop()
      a = stack.pop()
      stack.append(a*b)
    elif x == "/":
      b = stack.pop()
      a = stack.pop()
      stack.append(a//b)
    else:
      stack.append(int(x))
    print(stack)
  print(stack.pop())

In [21]:
calc("1 2 3 * + 4 /")

[] 1 => [1]
[1] 2 => [1, 2]
[1, 2] 3 => [1, 2, 3]
[1, 2, 3] * => [1, 6]
[1, 6] + => [7]
[7] 4 => [7, 4]
[7, 4] / => [1]
1

In [18]:
dis.dis("a + b * c -d")

  1           0 LOAD_NAME                0 (a)
              2 LOAD_NAME                1 (b)
              4 LOAD_NAME                2 (c)
              6 BINARY_MULTIPLY
              8 BINARY_ADD
             10 LOAD_NAME                3 (d)
             12 BINARY_SUBTRACT
             14 RETURN_VALUE

In [20]:
dis.dis("(a + b * c) / 4")

  1           0 LOAD_NAME                0 (a)
              2 LOAD_NAME                1 (b)
              4 LOAD_NAME                2 (c)
              6 BINARY_MULTIPLY
              8 BINARY_ADD
             10 LOAD_CONST               0 (4)
             12 BINARY_TRUE_DIVIDE
             14 RETURN_VALUE